<div class="userpage">
	<div>
		<h1 class="userinfopage"><%= @user.username%>'s Account</h1>
			<p class="sub-info">A list of your activity on Crowdfundr.</p>
	</div>

<br>

<div>
	<h3>List of Pledged Projects</h3>

	<ul>
		<% current_user.pledged_projects.uniq.each do |project| %>
		<li><%= link_to project.title, project_path(project) %></li>
		<% end %>
	</ul>
</div>

<div>
	<h3>List of Owned Projects</h3>

	<ul>
		<% current_user.owned_projects.uniq.each do |project| %>
		<li><%= link_to project.title, project_path(project) %></li>
		<% end %>
	</ul>
</div>

<div>
	<h3>List of Rewards</h3>

	<ul>
	<% current_user.rewards.uniq.each do |reward| %>
		<li>
			<a href=<%= project_path(reward.project) %>><%= image_tag reward.image_url, class: "reward-thumbnail"%></a>
			<%= link_to reward.name, project_path(reward.project) %>
		</li>
		<% end %>
	</ul>
</div>

<br>
<br>
<br>

</div>

