<h1 class="userinfo"><%= @user.username%></h1>

<h4>Email: <%= @user.email%> </h4>

<div>
	<h3>List of Pledged Projects</h3>

	<% current_user.pledged_projects.each do |project| %>
		<%= link_to project.title, project_path(project) %>
	<% end %>
</div>

<div>
	<h3>List of Owned Projects</h3>

	<% current_user.owned_projects.each do |project| %>
		<%= link_to project.title, project_path(project) %>
	<% end %>
</div>


<p><%= link_to 'Back', projects_path %></p>