<div class="userpage">
<%= form_for @project do |f|%>
  <h2 class="userinfopage">Create A Project</h2>
    <p class="sub-info">Create a project that needs funding. Please add an award as well.
    </p>
  <br>

	<div>
		<%= f.label :title, :class => "label-tag"  %>
    <%= f.text_field :title, :class => "label-text-field" %>
	</div>
  <div>
    <%= f.label :description, :class => "label-tag"  %>
    <%= f.text_field :description, :class => "label-text-field" %>
  </div>
  <div>
    <%= f.label :funding_target, "Funding Target", :class => "label-tag"  %>
    <%= f.number_field :funding_target, :class => "label-text-field" %>
  </div>
  <div>
    <%= f.hidden_field :start_date, value: Time.new %>
  </div>
  <div>
    <%= f.label :end_date, "End Date", :class => "label-tag"  %>
    <%= f.date_field :end_date, :class => "label-text-field" %>
  </div>

  <h3>Add a Reward</h3>
    <div id="rewards">
      <%= f.fields_for :rewards do |reward| %>
        <%= render "reward_fields", :f => reward %>
      <% end %>

    <div class="links">
      <%= link_to_add_association 'Add Another Reward', f, :rewards %>
    </div>
  </div>

  <br>

    <%= f.submit "Create Project", :class => 'nav-button' %>
  <%end%>

</div>