<br>
<div class='nested-fields'>
	<div>
		<%= f.label :name %>
    <%= f.text_field :name%>
	</div>
	<div>
		<%= f.label :description %>
    <%= f.text_field :description%>
	</div>
	<div>
		<%= f.label :quantity %>
    <%= f.number_field :quantity%>
	</div>
	<div>
		<%= f.label :min_dollar_amount, "Min. Dollar Amount" %>
    <%= f.number_field :min_dollar_amount%>
	</div>
</div>