<%= form_for @project do |f|%>
  <h2>Create a project</h2>
	<div>
		<%= f.label :title %>
    <%= f.text_field :title%>
	</div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description%>
  </div>
  <div>
    <%= f.label :funding_target %>
    <%= f.number_field :funding_target%>
  </div>
  <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date%>
  </div>
  <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date%>
  </div>
  <%= f.submit "Create Project"%>
<%end%>