<h1 class = "project-name"><%= @project.title %></h1>

<h3 class = "project_owner">Project Owner: <%= link_to "#{@project.owner.username if @project.owner}", user_path(current_user) %></h3>
<p class = "project-description">
	<%= @project.description %><br>
	Project Started On:
	<%= @project.start_date.strftime("%b %d, %Y") %><br>
	Project Ends On:
	<%= @project.end_date.strftime("%b %d, %Y") %>
</p>

<div class="skillbar clearfix " data-percent=<%= @project.funding_percent %>>
	<div class="skillbar-title" style="background: #27ae60;"><span>Funding</span></div>
	<div class="skillbar-bar" style="background: #2ecc71;"></div>
	<div class="skill-bar-percent"><%= @project.funding_percent %></div>
</div>


<p class = "project-description">Description: <%= @project.description %></p>

<%=render :partial => '/pledges/pledges' %>

<h3>Pledges:</h3>


<% @project.pledges.each do |pledge|%>
	<p><%= pledge.dollar_amount %></p>
<% end %>

<%= render partial: 'comments/comment_form' %>

<% @project.comments.each do |comment| %>
	<% comment_user = comment.user.username %>
	<p> <%= comment_user %> Says:
	<%= comment.body_text %> </p>
<% end %>