<h1><%= @project.name %></h1>
<h3><%= @project.owner %></h3>
<p><%= @project.description %></p>

<% @comments.each do |user_comment| %>
	<p>
		<%= user_comment.body_text %> <br>
		Written By:
		<%= user_comment.user %>
	</p>
<% end %>

<%= render partial: 'form' %>

