<div id="banner">
    <div id="wrapper">
        <div id="container">
        	<%= image_tag(@project.image_url) %>
				</div>
    </div>
</div>

<div class="center">
	<h1 id="project-name"><%= @project.title %></h1>

<h3 class = "project_owner">Project Owner: <%= link_to "#{@project.owner.username if @project.owner}", user_path(current_user) %></h3>
</div>

<div class="infoblock">
	<ul>
		<li><p class="bold">Description:</p> <%= @project.description %></li>
		<li><p class="bold">Project Started On:</p>
	<%= @project.start_date.strftime("%b. %d, %Y") %></li>
		<li><p class="bold">Project Ends On:</p>
	<%= @project.end_date.strftime("%b. %d, %Y") %></li>
	</ul>
</div>

<div class="skillbar clearfix " data-percent=<%= @project.funding_percent %>>
	<div class="skillbar-title" style="background: #27ae60;"><span>Funding</span></div>
	<div class="skillbar-bar" style="background: #2ecc71;"></div>
	<div class="skill-bar-percent"><%= @project.funding_percent %></div>
</div>

<%=render :partial => '/pledges/pledges' %>

<div class="pledges-section">
	<h3>Pledges:</h3>

	<% @project.pledges.each do |pledge|%>
		<% if pledge.dollar_amount != nil %>
		<p>$<%= pledge.dollar_amount %>.00 by <%= pledge.user.username %></p>
		<% end %>
	<% end %>
</div>


<div id="rightside">
	<!-- <div id="side-info"> -->
		<p><%= ((@project.end_date - @project.start_date) /60/60/24).round%> Days left</p>
		<p><%= @project.pledging_users.count%> Backers</p>
	<!-- </div> -->

	<!-- <div class="rewards-section"> -->
		<h3>Rewards:</h3>

			<ul id="rewards-list">
			<% @project.rewards.each do |reward| %>
				<li><p class="bold">Reward:</p> <%= reward.name %> (<%= reward.current_quantity %> of <%= reward.quantity %> left)</li>
				<li><p class="bold">Minimum Pledge:<p> $<%= reward.min_dollar_amount %>.00</li>
				<li><p class="bold">Description:</p> <%= reward.description %></li>
				<li>------------------</li>
			<% end %>
			</ul>
		</div>

<!-- </div> -->
<div class="blank-space">
</div>


<div id="comments-section">
	<div class="comment-list">
		<h3>Comments:</h3>

			<ul>
				<% @project.comments.each do |comment| %>
				<li><% comment_user = comment.user.username %>
				<p class="bold"> <%= comment_user %> Says:</p>
				<%= comment.body_text %></li>
			<% end %>
		</ul>
	</div>



	<%= render partial: 'comments/comment_form' %>

</div>