<!DOCTYPE html>
<html>
<head>
  <title>Crowdfundr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link rel="icon" type="image/png" href="/clogo.png" sizes="16x16">
</head>
<body>

<div id="navigation-bar">
  <div id="nav-buttons">
    <a href="/projects" class="nav-button">Browse Projects</a>
    <a href="/projects/new" class="nav-button">Get Funded</a>
    <% if current_user %><a href="/users/<%= current_user.id %>" class="nav-button">User Page</a> <% end %>
  </div>

<p class="userinfo">
  <% if current_user %>
    Signed in as: <%= current_user.username.capitalize %>
    <%= link_to "Log Out", session_path("current"), :method => :delete %>
    <% else %>
    <%= link_to "Log In", new_session_path %> or <%= link_to "Sign Up", new_user_path %>
  <% end %>
</p>

</div>



<h1 id="crowdfundr"><img src="/crowdfundr.png" id ="crowdfundr-pic" style="margin:0pt"></h1>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

<br>
<%= yield %>

<div id="footer">
      <div class="container">
        <section>
          <header>
          <br></br>
            <h2>Crowdfundr</h2>
            <span class="byline">Copyright &copy; 2015</span>
          </div>
        </div>
          </header>
        </section>
      </div>
    </div>

</body>
</html>
